<h2 class="page-header"><%= book.title %></h2>
<div class="books-detail">
    <div >
        <img width="100" height="150" src="<%= book.coverImagePath %>" alt="">
        <div class="book-detail-btn">
            <a class="btn btn-primary" href="/books/<%= book.id %>/edit">Edit</a>  
            <%- include('../partials/deleteform', {url: `/books/${book.id}`}) %>  
            <a class="btn btn-primary author-btn" href="/authors/<%= book.author.id %>">View Author</a>
        </div>
    </div>
    <div class="book-detail-info">
        <div class="book-detail-label">Author:</div>
        <div class="div"> <%= book.author ? book.author.name : 'Author not found' %></div>
        <div class="book-detail-label">Publish Date: </div>
        <div><%= book.publishDate.toDateString() %></div>
        <div class="book-detail-label">Page Count: </div>
        <div><%= book.pageCount %></div>
        <div class="book-detail-label">Description: </div>
        <div><%= book.description %></div>
    </div>
</div>