<h2 class="page-header"> <%= author.name %> </h2>
<a href="/authors/<%= author.id %>/edit">Edit</a>
<%- include('../partials/deleteform', {url: `/authors/${author.id}`}) %>

<% if(bookByAuthor.length > 0){ %>
    <h3>Book by author</h3>
    <ul>
        <% bookByAuthor.forEach(book => { %>
            <a href="/books/<%= book.id %>"><img height="150" width="100" src="<%= book.coverImagePath %>" alt=""></a>
        <% }); %>
    </ul>
<% } %>